* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #282828;
  margin: 0;
  background: #f1f3f5;
}

ul {
  list-style-type: none;
}

.nav-bar {
  background: -webkit-gradient(linear, right top, left top, from(#84cf6a), to(#16c0b0));
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
  height: 60px;
}

#app {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: 1px solid #a9a9a9;
}

a {
  color: #1e95ea;
  text-decoration: none;
  font-weight: bold;
}

.product-image {
  min-width: 320px;
  min-width: 320px;
  padding: 1rem;
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;
  max-width: 100%;
  background: #fff;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
  min-width: 320px;
}

.product-info h1 {
  font-weight: bold;
}

.product-info .outOfStock {
  text-decoration: line-through;
}

.product-info button {
  font-weight: bold;
  margin: 0 0.5rem;
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 0.5rem;
  background: #1e95ea;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.product-info button:hover {
  background: #106bab;
}

.product-info button.disabledButton {
  background-color: #d8d8d8;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

button,
select {
  font-family: "Helvetica Neue", Tahoma, sans-serif;
}

.color-box {
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 0.5em;
  border-radius: 50%;
}

.cart {
  position: absolute;
  top: -52px;
  right: 0;
  border: 1px solid #d8d8d8;
  padding: 0.6rem 1rem;
  margin: 0 1rem;
  z-index: 99;
  background: #fff;
  border-radius: 0.5rem;
}

.review-form {
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 250px;
  border-radius: 0.5rem;
  width: 100%;
  padding: 20px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}

.review-form input,
.review-form textarea {
  min-height: 30px;
  border-radius: 0.5rem;
  border: 1px solid #a9a9a9;
  max-width: 250px;
}

.review-form select {
  min-width: 50px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 1px solid #a9a9a9;
  margin-bottom: 20px;
}

.review-form p label {
  font-weight: bold;
  margin-right: 1rem;
}

textarea {
  max-width: 240px;
  height: 60px;
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-title {
  margin-right: 0.5rem;
}

.color-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product {
  padding: 1rem;
  margin: 1rem;
}

.review-btn {
  font-weight: bold;
  width: 150px;
  height: 30px;
  margin-top: 1em;
  border: none;
  border-radius: 0.5rem;
  background: #1e95ea;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.review-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.review-textarea textarea {
  width: 100%;
}

.rating-reco {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rating-reco .reco-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-list {
  padding: 1rem;
  min-width: 320px;
}

.reviews-list p {
  margin-bottom: 0.1rem;
}

.form-rev {
  width: 320px;
  padding: 1rem;
}

h2 {
  font-size: 1.6em;
}

.activeTab {
  color: #16c0b0;
  text-decoration: underline;
}

.reviews-list-ul {
  overflow-y: scroll;
  max-height: 400px;
}

.tab {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #dddddd;
}

.tab:hover {
  cursor: pointer;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
}
