* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #282828;
  margin: 0;
  background: #f1f3f5;
}

ul {
  list-style-type: none;
}

.nav-bar {
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
  height: 60px;
}

#app {
  box-sizing: border-box;
  position: relative;
}

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: #1e95ea;
  text-decoration: none;
  font-weight: bold;
}

.product-image {
  min-width: 320px;
  min-width: 320px;
  padding: 1rem;

  img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #d8d8d8;
    border-radius: 0.5rem;
    max-width: 100%;
    background: #fff;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  min-width: 320px;

  h1 {
    margin: 0.5em 0;
    font-size: 1.75em;
  }

  .outOfStock {
    text-decoration: line-through;
  }

  button {
    font-weight: bold;
    margin: 0 0.5rem;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 0.5rem;
    background: #1e95ea;
    color: white;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background: darken(#1e95ea, 15%);
    }

    &.disabledButton {
      background-color: #d8d8d8;
    }
  }
}

.buttons {
  display: flex;
  margin: 1rem 0;
}

button,
select {
  font-family: "Helvetica Neue", Tahoma, sans-serif;
}

.color-box {
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 0.5em;
  border-radius: 50%;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #d8d8d8;
  padding: 0.6rem 1rem;
  margin: 1rem;
  z-index: 99;
  background: #fff;
  border-radius: 0.5rem;
}

.review-form {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  min-width: 250px;
  border-radius: 0.5rem;
  width: 100%;
  padding: 20px;
  border: 1px solid #d8d8d8;
  background-color: #fff;

  input,
  textarea {
    min-height: 30px;
    border-radius: 0.5rem;
    border: 1px solid #a9a9a9;
    max-width: 250px;
  }
  select {
    min-width: 50px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: 1px solid #a9a9a9;
    margin-bottom: 20px;
  }

  p {
    label {
      font-weight: bold;
      margin-right: 1rem;
    }
  }
}

textarea {
  max-width: 240px;
  height: 60px;
}

.colors {
  display: flex;
  align-items: center;
}

.color-title {
  margin-right: 0.5rem;
}

.color-size {
  display: flex;
}

.product {
  padding: 1rem;
  margin: 1rem;
}

.review-btn {
  font-weight: bold;
  width: 150px;
  height: 30px;
  margin-top: 1em;
  border: none;
  border-radius: 0.5rem;
  background: #1e95ea;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.review-textarea {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  textarea {
    width: 100%;
  }
}

.rating-reco {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: column;

  .reco-btns {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

.reviews-list {
  padding: 1rem;
  min-width: 320px;

  p {
    margin-bottom: 0.1rem;
  }
}

.form-rev {
  width: 320px;
  padding: 1rem;
}
